$icomoon-font-family: "portfolio-font" !default;
$icomoon-font-path: "fonts" !default;

$icon-github: "\eab0";
$icon-envelope-fill: "\e902";
$icon-envelope: "\e903";
$icon-linkedin: "\e904";
$icon-chevron-left: "\e900";
$icon-chevron-right: "\e901";

