$icomoon-font-family: "portfolio-font" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-up: "\e905";
$icon-chevron-down: "\e906";
$icon-envelope-fill: "\e902";
$icon-envelope: "\e903";
$icon-linkedin: "\e904";
$icon-chevron-left: "\e900";
$icon-chevron-right: "\e901";
$icon-github: "\eab0";

