html, body {
	position: relative;
	width: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
	line-height: 1.4;
	font-size: 1.1em;
}

section {
	text-align: center;
	width: 100%;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

a:visited {
	color: rgb(0,80,160);
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
